<div style="background-color:#ccc; width:350px; border-radius:10px; padding:20px; margin-left:400px; ">
<form  action="/owner" method="post" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Owner  Login</h3>
  </div>
  <table width="327" height="166" align="center">
    <tr>
      <td>Username</td>
      <td><input type="text" name="uname" placeholder="Username" required="" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="pass" placeholder="Password" required="" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td> 
        <input type="submit" class="btn btn-success" name="btn" value="Login" />       </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><a href="/owner_register">New Owner </a></td>
    </tr>
  </table>
</form>
</div>
 