

<form  action="/user_emp_request" method="post" name="form1" id="form1" onSubmit="return validateForm()">

          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Request Owner </h3>
          <table width="330" height="248" align="center">
    <tr>
      <td height="46"><div align="left">Employee Number </div></td>
      <td><div align="center">
        <input name="employee_no" type="text" id="employee_no"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="41"><div align="left">Work Details </div></td>
      <td><div align="center">
        <input name="work_details" type="text" id="work_details"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="52"><div align="left">Date</div></td>
      <td><div align="center">
        <input name="date" type="date" id="date"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="44"><div align="left">Salary</div></td>
      <td><div align="center">
        <input name="salary" type="text" id="salary"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="51" colspan="2"><div align="center"><span class="tp">
          <input type="submit" name="btn" value="Add" />
      </span></div></td>
    </tr>
  </table>
</form>
 