

<form  action="/user_register" method="post" name="form1" id="form1" onSubmit="return validateForm()">

          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Farmer Register </h3>
    <table width="376" height="426" align="center">
    <tr>
      <td><div align="left">Name</div></td>
      <td><div align="center">
        <input name="name" type="text" id="name"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Contact</div></td>
      <td><div align="center">
        <input name="contact" type="number" id="contact"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Email</div></td>
      <td><div align="center">
        <input name="email" type="email" id="email"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="56"><div align="left">Gender</div></td>
      <td><div align="center">
        <input name="gender" type="text" id="gender"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="59"><div align="left">Address</div></td>
      <td><div align="center">
        <input name="address" type="text" id="address"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">UserName</div></td>
      <td><div align="center">
        <input name="username" type="text" id="username"  required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Password</div></td>
      <td><div align="center">
        <input name="password" type="password" id="password"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="51" colspan="2"><div align="center"><span class="tp">
          <input type="submit" name="btn" value="Register" />
      </span></div></td>
    </tr>
  </table>
</form>
 