<li class="nav-item ">
							<a class="nav-link cool" href="/admin_home">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link cool" href="/admin_view_user">View Customer</a>
						</li>
						 <li class="nav-item">
							<a class="nav-link cool" href="/admin_accepted_details">Rental Agree View</a>
						</li>
						<li class="nav-item">
							<a class="nav-link cool" href="/admin_view_fine">Fine Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link cool" href="/admin_view_machine">Machine Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link cool" href="/admin_emp_details">Machine Owner Details</a>
						</li>
					 <li class="nav-item">
							<a class="nav-link cool" href="/">Logout</a>
						</li>

					 