                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/owner_home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/owner_add_machine">Add Machine Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/owner_user_pay">Rental Request Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/owner_accepted_details">Rental Accepted Details</a>
                        </li>

						 <li class="nav-item">
                            <a class="nav-link" href="/owner_fine_pay">Due date Notify</a>
                    <!--    </li>
						  <li class="nav-item">
                            <a class="nav-link" href="/owner_supply_emp">Supply Employee</a>
                        </li>-->

						 <li class="nav-item">
                            <a class="nav-link" href="/">Logout</a>
                        </li>