                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/user_home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_search">Search Machine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_view_rental">Rental Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_view_pay">Payment</a>
                        </li>
						 <li class="nav-item">
                            <a class="nav-link" href="/user_fine_pay">Pay fine</a>
                     <!--   </li>
						  <li class="nav-item">
                            <a class="nav-link" href="/user_emp_request">Request Employee</a>
                        </li>-->


                      
						 <li class="nav-item">
                            <a class="nav-link" href="/">Logout</a>
                        </li>